.form{
    float:right;
    width:350px;
    position:fixed;
    top:0;
    right:-1%;
    z-index:2;
    margin-right:50px;
    padding-top:10px;
    
    @include mobile{
        width:180px;
        margin-right:10px;
    }
    
    @include tablet{
        width:220px;
        margin-right:20px;
    }
}